body {
	margin: 0;
	background-color: #000010;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	
}

#title {
	background-color: #ffffff;
	text-align: center;
	border-radius: 12px;
	font-size: 30px;
	color: #f73149;	
}

.main {
	background-color: #cacac8;
	border-radius: 12px;
	text-align: center;
}

 p {
 	text-align: center;
 	font-size: 30px;
 	color: #b6846b;
 	padding-top: 20px;
 	font-weight: bold;
 	margin: 0;
 }

input {
	border-radius: 12px;
	margin-top: 5px;
	outline-style: none;
	height: 30px;
	width: 50px;
	font-size: 20px;
}


.score h1 {
	font-size: 90px;
	text-align: center;
	margin: 20px;
}


button {
	margin: 20px 20px;
	border : 2px solid #f73149;
	background-color: #cacac8;
	font-family: 'Ubuntu', sans-serif;
	width:100px;
  	height:100px;
	border-radius: 50%;
	font-size: 20px;
	outline-style: none;
	transition: all 0.4s;
}

button:hover {
	background-color: #b6846b;
	color: white;
}

.green {
	color: #f73149;
}